<div class="profile-container">
  <div class="content">
  <div id="headerText">
    <h2>Mon profil</h2>
    <p>Mes infos</p>
  </div>
  <div class="user-info">
    <div class="divInfoInput">
    <label>Prénom </label>
    <input [(ngModel)]="editedUser.firstName" (input)="onInputChange()"/>
    </div>

    <div class="divInfoInput">
    <label>Nom </label>
    <input [(ngModel)]="editedUser.lastName" (input)="onInputChange()"/>
    </div>

    <div class="divInfoInput">
      <label>Email </label>
      <input [(ngModel)]="editedUser.email" (input)="onInputChange()"/>
    </div>

    <div class="divInfoInput">
      <label>Mot de passe </label>
      <input type="password" [(ngModel)]="editedUser.password" (input)="onInputChange()"/>
    </div>

    <button (click)="saveChanges()" [disabled]="!isModified">Enregistrer</button>
  </div>

  <h3>Mes réservations</h3>
  <div class="reservations" *ngIf="reservations.length; else noReservations">
    <div class="reservation" *ngFor="let r of reservations">
      <p><strong>Description :</strong> {{ r.description }}</p>
      <p><strong>Prix :</strong> {{ r.price }} €</p>
      <p><strong>Début :</strong> {{ r.dateDebut | date:'medium' }}</p>
      <p><strong>Fin :</strong> {{ r.dateFin | date:'medium' }}</p>
    </div>
  </div>

  <ng-template #noReservations>
    <p>Aucune réservation trouvée.</p>
  </ng-template>
    <div id="divDeconnect">
      <button id="deconnect" class="logout" (click)="logout()">Se déconnecter</button>
    </div>
</div>
</div>
