<div id="content">
  <form (ngSubmit)="onSubmit()" #resForm="ngForm">
    <div id="header">
      <h2>Réserver en ligne pour un RDV chez</h2>
      <p> 24h/24 - Paiement sur place - Confirmation immédiate</p>
    </div>

    <h2>Choix de la prestation</h2>
    <div id="cardChoixPresta">
      <legend></legend>
      <ul class="prestation-list">
        <li class="prestation-item" *ngFor="let prestation of prestations">
          <div class="prestation-info">
            <span class="presta-name">{{ prestation.name }}</span>
            <span class="presta-details">{{ prestation.duration }} min · {{ prestation.price }}€</span>
          </div>
          <button *ngIf="selectedPrestationName !== prestation.name" class="presta-btn" type="button" (click)="choisirPrestation(prestation.name, prestation.price, prestation.duration)">Choisir</button>
          <button *ngIf="selectedPrestationName === prestation.name" class="presta-btn" type="button" (click)="choisirPrestation(prestation.name, prestation.price, prestation.duration)">Annuler</button>
        </li>
      </ul>
    </div>

    <h2>Avec qui ?</h2>
    <div id="cardChoixCoiffeur">
      <div class="choixCoiffeur" *ngFor="let coiffeur of collaborators">
        <label [for]="coiffeur.user.id">{{ coiffeur.user.firstName }}</label>
        <input
          type="radio"
          [id]="coiffeur.user.id"
          name="coiffeur"
          [value]="coiffeur.user.id"
          [(ngModel)]="selectedCollaborator"
        />
      </div>
    </div>

    <h2>Choix de la date & heure</h2>
    <div id="cardChoixDate">
      <div id="divButton">
        <button type="button" (click)="prevWeek()">Semaine précédente</button>
        <button type="button" (click)="nextWeek()">Semaine suivante</button>
      </div>
      <daypilot-calendar
        [config]="config"
        [events]="events"
        (onTimeRangeSelected)="timeRangeSelected($event)">
      </daypilot-calendar>
    </div>
    <div id="divValidation">
      <button id="validation-btn" type="submit">Confirmer la réservation</button>
    </div>
  </form>
</div>
