#content{
  display: flex;
  background: var(--background-bouton-grey_white);
  width: 100%;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
  font-family: var(--primary-font);

}

h2{
  font-size: var(--text-xl);
  font-weight: var(--font-semi-bold);
  margin: 0;
}

#header p{
  color: var(--text-color-grey);
  font-size: var(--text-lg);
}

#header{
  margin-top: var(--spacing-xxl);
}

form{
  width: 50%;
}

#cardChoixPresta{
  box-shadow: #bbbbbb 0px 0px 4px;
  border-radius: var(--border-radius-md);
  background: white;
  margin-top: var(--spacing-sm);
  margin-bottom: var(--spacing-md);
  font-size: var(--text-lg);
}

.prestation-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.prestation-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md);
  margin: 0 var(--spacing-sm) ;
  border-bottom: 1px solid var(--background-bouton-grey); /* Séparateur */

}

.prestation-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-right: var(--spacing-md);
  align-items: center;
  height: 100%;
}

.presta-details{
  color: var(--text-color-grey);

}

.presta-btn{
  border-radius: var(--border-radius-md);
  padding: var(--spacing-sm) var(--spacing-sm);
  background: var(--background-bouton-black);
  color: var(--text-color-white);
  font-size: var(--text-md);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
}

#cardChoixCoiffeur{
  box-shadow: #bbbbbb 0px 0px 4px;
  border-radius: var(--border-radius-md);
  background: white;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--spacing-sm);
  margin-bottom: var(--spacing-md);
  padding: var(--spacing-md);
}

.choixCoiffeur{
  border: #c1c1c1 solid 1px;
  border-radius: var(--border-radius-md);
  margin: var(--spacing-sm) var(--spacing-sm);
  padding: var(--spacing-md) var(--spacing-sm);
  width: 150px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

}

#cardChoixDate{
  box-shadow: #bbbbbb 0px 0px 4px;
  border-radius: var(--border-radius-md);
  background: white;
  padding: var(--spacing-md);
  margin-top: var(--spacing-sm);
  margin-bottom: var(--spacing-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cardChoixDate input{
  padding: var(--spacing-sm) var(--spacing-sm);
  border-radius: var(--border-radius-md);
  font-family: var(--primary-font);
  width: 40%;


}
#validation-btn{
  border-radius: var(--border-radius-md);
  padding: var(--spacing-sm) var(--spacing-sm);
  background: var(--background-bouton-black);
  color: var(--text-color-white);
  font-size: var(--text-xl);
  font-weight: var(--font-regular);
  cursor: pointer;
  width: 40%;
}

@media (max-width: 768px) {
  form {
    width: 80%;
  }
  h2{
    font-size: var(--text-xl);
  }

  .prestation-info {
    flex-direction: column;
    align-items: start;
  }
}
