<div id="content">
  <form>
    <div id="header">
      <h2>Réserver en ligne pour un RDV chez</h2>
      <p> 24h/24 - Paiement sur place - Confirmation immédiate</p>
    </div>

    <h2>Choix de la prestation</h2>
    <div id="cardChoixPresta">
      <legend></legend>
      <ul class="prestation-list">
        <li class="prestation-item">
          <div class="prestation-info">
            <span class="presta-name">Barbe</span>
            <span class="presta-details">20 min · 10€</span>
          </div>
          <button class="presta-btn">Choisir</button>
        </li>
        <li class="prestation-item">
          <div class="prestation-info">
            <span class="presta-name">Coupe enfant</span>
            <span class="presta-details">30 min · 15€</span>
          </div>
          <button class="presta-btn">Choisir</button>
        </li>
        <li class="prestation-item">
          <div class="prestation-info">
            <span class="presta-name">Cheveux court</span>
            <span class="presta-details">25 min · 18€</span>
          </div>
          <button class="presta-btn">Choisir</button>
        </li>
        <li class="prestation-item">
          <div class="prestation-info">
            <span class="presta-name">Cheveux Mi-Longs</span>
            <span class="presta-details">35 min · 22€</span>
          </div>
          <button class="presta-btn">Choisir</button>
        </li>
        <li class="prestation-item">
          <div class="prestation-info">
            <span class="presta-name">Cheveux longs</span>
            <span class="presta-details">45 min · 27€</span>
          </div>
          <button class="presta-btn">Choisir</button>
        </li>
      </ul>
    </div>

    <h2>Avec qui ?</h2>
    <div id="cardChoixCoiffeur">
      <div class="choixCoiffeur">
        <label for="sansPref">Sans préférence</label>
        <input type="radio" id="sansPref" name="coiffeur" value="sansPref" checked />

      </div>

      <div class="choixCoiffeur">
        <label for="lea">Léa</label>
        <input type="radio" id="lea" name="coiffeur" value="Lea" />

      </div>

      <div class="choixCoiffeur">
        <label for="camille">Camille</label>
        <input type="radio" id="camille" name="coiffeur" value="Camille" />

      </div>

      <div class="choixCoiffeur">
        <label for="ines">Inès</label>
        <input type="radio" id="ines" name="coiffeur" value="Ines" />

      </div>

      <div class="choixCoiffeur">
        <label for="lucas">Lucas</label>
        <input type="radio" id="lucas" name="coiffeur" value="Lucas" />

      </div>

      <div class="choixCoiffeur">
        <label for="nathan">Nathan</label>
        <input type="radio" id="nathan" name="coiffeur" value="Nathan" />

      </div>

      <div class="choixCoiffeur">
        <label for="alex">Alex</label>
        <input type="radio" id="alex" name="coiffeur" value="Alex" />

      </div>
    </div>

    <h2>Choix de la date & heure</h2>
    <div id="cardChoixDate">
      <input
        id="party"
        type="datetime-local"
        name="party-date"
        value="2017-06-01T08:30" />
      <button id="validation-btn">Confirmer la réservation</button>
    </div>
  </form>
</div>


