button{
  background: var(--background-bouton-black);

  color: var(--text-color-white);
  padding: var(--spacing-sm) var(--spacing-sm) var(--spacing-sm) var(--spacing-sm);
  border-radius: var(--border-radius-md);
  font-family: var(--primary-font);
  border: none;
  font-weight: var(--font-medium);
  letter-spacing: var(--letter-spacing-xs);
  font-size: var(--text-sm);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: var(--spacing-xl);
}

#add_etab{
  background: var(--background-bouton-white);
  border-color: var(--background-bouton-white);
  border: 0px;
  padding: var(--spacing-sm) var(--spacing-sm) var(--spacing-sm) var(--spacing-sm);
  letter-spacing: var(--letter-spacing-sm);
  color: var(--text-color-grey);
}

#add_etab > p {
  margin: 0;
}

#add_etab:hover{
  background: var(--background-bouton-grey);
  border-color: var(--background-bouton-grey);
  border: 0px;
  letter-spacing: var(--letter-spacing-sm);
  color: var(--text-color-grey);
}

h1{
  margin: 0;
}

button:hover {
  background: var(--background-bouton-grey);
  cursor: pointer;
  border: none;
}

button > p {
  margin: 0 0 0 var(--spacing-sm);
}

#nav{
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: var(--spacing-sm) var(--spacing-sm);
  border-bottom: 1px solid var(--background-bouton-grey);
}

#navButtom{
  display: flex;
  align-items: center;
}

h1:hover{
  cursor: pointer;
}
