#content{
  display: flex;
  background: var(--background-bouton-grey_white);
  width: 100%;
  height: 90vh;
}

#cardMain{
  font-family: var(--primary-font);
  display: flex;
  flex-direction: column;
  min-width: 50%;
  width: 100%;
  margin-top: var(--spacing-xxl);

}
.cardLogin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


button{
  border-radius: var(--border-radius-md);
  width: var(--size-button-xl);
  padding: var(--spacing-md) var(--spacing-md);
  background: var(--background-bouton-black);
  color: var(--text-color-white);
  font-size: var(--text-sm);
  font-weight: var(--font-semi-bold);
}

span{
  color: var(--text-color-black);
  font-size: var(--text-sm);
  font-weight: var(--font-medium);
  margin-top: var(--spacing-md);
}

input{
  border-radius: var(--border-radius-md);
  margin: var(--spacing-xs) 0;
  padding: var(--spacing-sm) var(--spacing-sm);
  border-color: var(--background-bouton-grey);
}


#pswforget {
  font-size: var(--text-sm);
  font-weight: var(--font-medium);
  text-decoration: underline;
}

form{
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) { /* Taille d'écran pour mobile */
  img {
    display: none;
  }
}

img{
  max-width: 50%;
}

#cardLogin{
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: var(--text-lg);
  font-weight: var(--font-medium);
}
